html, body {
  margin: 0;
  padding: 0;
}


.mymenu{
  color: White;
  text-decoration: none
}


.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.pooma {
  background: url("https://images.pexels.com/photos/12064/pexels-photo-12064.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center;  /*   image from pexels.com*/
  background-size: cover;
  height: 650px;
}

.header {
  background-color: Black;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  margin-left: 25%;
}


.nav li {
  color: #fff;
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-right: 25px;
  text-transform: uppercase;
}

.main {
  position: relative;
  top: 180px;
  text-align: center;
}

.main h1 {
  color: White;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
  background-color: Black;
}


.btn-main {
  background-color: Black;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-default {
  border: 2px solid Black;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;  
  display: inline-block;
  margin-bottom: 20px;      
}

.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
}

.supporting .col {
  float: left;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.supporting img {
  height: 32px;
}

.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

.clearfix {
  clear: both;
}

.footer {
  background-color: Black;
  color: #fff;
  padding: 30px 0;
  padding-bottom: 0;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}

